<!-- <h1>Listing memos</h1>&nbsp; -->

<div>
	<span class="page_title">
		メモのリスト
	</span>
	
	&nbsp;&nbsp;(<%= link_to 'New Memo', new_memo_path %>)</div>

<br />

<table>
  <tr>
  	<th>Id</th>
    <th>Text</th>
    <th>Url</th>
    <th>Article</th>
    <th>Genre</th>
  </tr>

<% @memos.each do |memo| %>
  <tr>
  	<td><%= memo.id %></td>
  	<td><%= link_to truncate(memo.text, length: 40), memo %></td>
  	
  	<% if memo.url.length != 0 %>
  		<td><%= link_to "Go", memo.url %></td>
  	<% else %>
  		<td>No Data</td>
  	<% end %>
  </tr>
<% end %>


</table>
