<!-- <h1>Listing memos</h1>&nbsp; -->

<div>
	<span class="page_title">
		メモのリスト
	</span>
	
	&nbsp;&nbsp;(<%= link_to 'New Memo', new_memo_path %>)</div>

<br />

<table>
  <tr>
  	<th>Id</th>
    <th>Text</th>
    <th>Url</th>
    <th>Article</th>
    <th>Genre</th>
  </tr>

